<!--イントロ-->
<div class="l-inner">
  <div class="intro">
    <div class="intro_column">
      <div class="intro_columnItem">
        <p class="intro_text">シュウカンは毎日続けるだけで <em>習慣化</em>することができる無料サービスです</p>
      </div>
      <div class="intro_columnItem intro_columnItem-media">
        <div class="c-image">
          <%= image_tag'index/img-intro.png', alt: "シュウカン" %>
        </div>
      </div>
    </div>
    <div class="loginContainer">
      <div class="login_item">
        <%= link_to "/auth/twitter", method: :post, class: 'login_itemLink' do %>
            <span class="c-button c-button-twitter">
            <span class="c-button_label"><i class="c-button_icon"></i>Twitterでログイン</span>
        <% end %>
        <p class="login_lead">shukanはツイート権限を取得しません。安心してご利用下さい。</p>
      </div>
    </div>
  </div>
</div>
<!--/.イントロ-->

<!--使い方-->
<div class="l-inner">
  <section class="content content-howto">
    <div class="content_inner">
      <div class="content_header">
        <h2 class="c-headingLv2">使い方</h2>
      </div>
      <div class="content_body">
        <ol class="howtoList">
          <li class="howtoList_item">
            <h3 class="c-headingLv3"><span class="howto_itemNumber">1</span>習慣にしたいことを登録して</h3>
            <div class="howto_itemImage">
              <%= image_tag'index/img-howto-step1.png', alt: "イラスト：早起き・筋トレ・英会話・勉強" %>
            </div>
          </li>
          <li class="howtoList_item">
            <h3 class="c-headingLv3"><span class="howto_itemNumber">2</span>できたらボタンを押すだけ！</h3>
            <div class="howto_itemImage">
              <%= image_tag'index/img-howto-step2.png', alt: "イラスト：シュウカンをこなした！ボタンを押す動作" %>
            </div>
          </li>
          <li class="howtoList_item">
            <h3 class="c-headingLv3 c-headingLv3-center">他のひとのシュウカンを<br>みることもできるよ！</h3>
            <div class="howto_itemImage">
              <%= image_tag'index/img-howto-step3.png', alt: "イラスト：ねこさんが英会話の勉強を達成しました！たろうさんが腹筋50回を達成しました！" %>
            </div>
          </li>
        </ol>
      </div>
      <div class="actionArea">
        <p class="c-headingLv3 c-headingLv3-center">さあやってみよう！</p>
        <div class="loginContainer">
          <div class="login_item">
            <%= link_to "/auth/twitter", method: :post, class: 'login_itemLink' do %>
              <span class="c-button c-button-twitter">
              <span class="c-button_label"><i class="c-button_icon"></i>Twitterでログイン</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--/.使い方-->
