えらい！ <br>
明日もシュウカンを続けましょう！

<div class="eventsIntro_image">
  <%= image_tag 'events/img-events.png' %>
</div>

<hr />
<% date = nil %>
<% @events.each do |event| %>
  <% if date != event.date_on %>
    <h2><%= date = event.date_on %></h2>
    <hr />
  <% end %>
  <%= event.goal.user.name %>さんが、<%= event.goal.name %>(<%= event.goal.category.name %>)を達成しました！
<hr />
<% end %>
