<div class="l-inner">
  <div class="content">
    <div class="content_inner">
      <div class="content_header">
        <h2 class="c-headingLv2"><%= @text_h2 %></h2>
        <p class="content_lead"><%= @text.html_safe %></p>
      </div>
      <div class="content_body">
        <div class="eventsImage">
          <%= image_tag @image_path %>
        </div>
        <div class="weeklyStamp">
          <ul class="weeklyStampList">
            <% %w(Mon Tue Wed Thu Fri Sat Sun).each do |wday| %>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events[wday].present? %>"><%= wday.downcase %></li>
            <% end %>
          </ul>
        </div>
        <div class="shareAction">
          <a href="https://twitter.com/share?url=https://shukan.today/&text=<%= @text_tweet %>%0a%0a===%0a「シュウカン」１週間だけ継続して習慣化するアプリ&hashtags=シュウカン" target="_blank" class="c-button c-button-twitter"><i class="c-button_icon"></i>Twitterでシェア</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_inner">
      <div class="content_header">
        <h2 class="c-headingLv2">他の人のシュウカンを見る</h2>
      </div>
      <div class="content_body">
        <% date = nil %>
        <ul class="eventsGoalEntryList">
          <% @events.each do |event| %>
          <li class="eventsGoalEntryList_item">
            <div class="eventsEntryColumn">
              <div class="eventsEntryColumn_image">
                <%= image_tag event.goal.user.image_url, width: '96' %>
              </div>
              <p class="eventsEntryColumn_text">
                <span class="userName"><%= event.goal.user.name %></span>
                さんが、
                <span class="goalName"><%= event.goal.name %>(<%= event.goal.category.name %>)</span>
                を達成しました！
              </p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
