<div class="l-inner">
  <div class="content">
    <div class="content_inner">
      <div class="content_header">
        <h2 class="c-headingLv2">おつかれさまでした！</h2>
        <p class="content_lead">えらい！<br>明日もシュウカンを続けましょう！</p>
      </div>
      <div class="content_body">
        <div class="eventsImage">
          <%= image_tag 'events/img-events.png' %>
        </div>
        <div class="weeklyStamp">
          <ul class="weeklyStampList">
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Mon'].present? %>">mon</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Tue'].present? %>">tue</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Wed'].present? %>">wed</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Thu'].present? %>">thu</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Fri'].present? %>">fri</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Sat'].present? %>">sat</li>
            <li class="weeklyStampList_item <%= 'is-checked' if @current_week_events['Sun'].present? %>">sun</li>
          </ul>
        </div>
        <div class="shareAction">
          <a href="https://twitter.com/share?url=https://shukan.herokuapp.com/&text=1週間「<%= @current_user.goal.name %>」を継続できました！えらい！/&hashtags=shukan" class="c-button c-button-twitter"><i class="c-button_icon"></i>Twitterでシェア</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_inner">
      <div class="content_header">
        <h2 class="c-headingLv2">他の人のシュウカンを見る</h2>
      </div>
      <div class="content_body">
        <% date = nil %>
        <ul class="eventsGoalEntryList">
          <% @events.each do |event| %>
          <li class="eventsGoalEntryList_item">
            <div class="eventsEntryColumn">
              <div class="eventsEntryColumn_image">
                <img src="https://picsum.photos/96/96" />
              </div>
              <p class="eventsEntryColumn_text">
                <span class="userName"><%= event.goal.user.name %></span>
                さんが、
                <span class="goalName"><%= event.goal.name %>(<%= event.goal.category.name %>)</span>
                を達成しました！
              </p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
