<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "--", class: 'input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if current_user.goals.present? %>
  <h2>過去の目標を今週も継続</h2>
  <ul>
  <% current_user.goals.each do |goal| %>
    <li>
      <%= form_with(model: goal) do |form| %>
        <%= goal.name %>(<%= goal.category.name %>)<%= form.submit 'これを継続' %>
        <%= form.hidden_field :again, value: :again %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
