<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="goalIntro">
    <!--ここ動的に......-->
    <p class="term">2020.02.08〜2020.02.12</p>
    <p class="goalIntro_text">今週挑戦したいシュウカンを<br>これまでの項目から選択するか、<br>新しく登録してね</p>
    <div class="goalIntro_image">
      <%= image_tag 'goal/img-goal-intro.png' %>
    </div>
  </div>

  <div class="c-field_wrapper">
    <div class="c-field_item">
      <div class="c-field">
        <%= form.label :'これまでの項目から選択', class:'c-field_label'%>
        <%= form.collection_select :category_id, Category.all, :id, :name, {prompt: ""}, {class: "c-field_select"} %>
      </div>
    </div>
    <div class="c-field_item">
      <p class="field_text">もしくは</p>
    </div>
    <div class="c-field_item">
      <div class="c-field">
        <%= form.label :'新しく登録する', class:'c-field_label' %>
        <%= form.text_field :name, placeholder: '例）筋トレ', class:'c-field_input' %>
      </div>
    </div>
  </div>

  <div class="goalActions">
    <%= form.submit value: 'このシュウカンでがんばる！', class:'c-button c-button-primary' %>
  </div>
<% end %>

<% if current_user.goals.present? %>
  <h2>過去の目標を今週も継続</h2>
  <ul>
  <% current_user.goals.each do |goal| %>
    <li>
      <%= form_with(model: goal) do |form| %>
        <%= goal.name %>(<%= goal.category.name %>)<%= form.submit 'これを継続' %>
        <%= form.hidden_field :again, value: :again %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
