<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="goalIntro">
  <% from = Date.current.beginning_of_week; to =  from + 6.day %>
  <p class="term"><%= from.strftime('%Y.%m.%d') %>〜<%= to.strftime('%Y.%m.%d') %></p>
    <p class="goalIntro_text">今週挑戦したいシュウカンを<br>これまでの項目から選択するか、<br>新しく登録してね</p>
    <div class="goalIntro_image">
      <%= image_tag 'goal/img-goal-intro.png' %>
    </div>
  </div>

  <div class="c-field_wrapper">
  <% if current_user.goals.present? %>
  <div class="c-field">
    <p class='c-field_label'>継続する</p>
    <ul class="c-goalList">
    <% current_user.goals.each do |goal| %>
      <li class="c-goalList_item">
        <%= form_with(model: goal) do |form| %>
          <%= form.submit goal.name, class:'c-goal_name' %>
          <%= form.hidden_field :again, value: :again %>
          (<%= goal.category.name %>)
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <div class="c-field_item">
      <p class="field_text">もしくは</p>
    </div>
    <div class="c-field_item">
      <div class="c-field">
        <%= form.label :'カテゴリ選択', class:'c-field_label'%>
        <%= form.collection_select :category_id, Category.all, :id, :name, {prompt: ""}, {class: "c-field_select"} %>
      </div>
    </div>
    <div class="c-field_item">
      <div class="c-field">
        <%= form.label :'新しく登録する', class:'c-field_label' %>
        <%= form.text_field :name, placeholder: '例）筋トレ', class:'c-field_input' %>
      </div>
    </div>
  </div>

  <div class="goalActions">
    <%= form.submit value: 'このシュウカンでがんばる！', class:'c-button c-button-primary' %>
  </div>
<% end %>
