<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="c-field">
    <%= form.label :'これまでの項目から選択', class:'c-field_label'%>
    <%= form.text_field :name, class:'c-field_input' %>
  </div>
  <p class="field_text">もしくは</p>
  <div class="c-field">
    <%= form.label :'新しく登録する', class:'c-field_label' %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "--", class:'c-field_select' %>
  </div>

  <div class="actions">
    <%= form.submit value: 'テスト', class:'c-button c-button-primary' %>
  </div>
<% end %>
