<!DOCTYPE html>
<html>
  <head>
    <title>Shukan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="g-wrapper">
        <header class="g-siteHerder">
          <h1 class="g-siteHeader_logo">
            <%= image_tag'g-site-logo.svg', alt: "シュウカン" %>
          </h1>
        </header>
      <%= yield %>
      <footer class="g-footer">
        <div class="footer_inner">
          <small class="c-copyright">&copy;shukan</small>
        </div>
      </footer>
    </div>
  </body>
</html>
