<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXCRHHC');</script>
    <!-- End Google Tag Manager --> 
    <title>Shukan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="「シュウカン」１週間だけ継続して習慣化するアプリ">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta property="og:url" content="https://shukan.today/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="シュウカン">
    <meta property="og:image" content="https://shukan.today/common/img/ogp.jpg">
    <meta property="og:description" content="「シュウカン」１週間だけ継続して習慣化するアプリ">
    <meta property="og:site_name" content="シュウカン">

    <meta data-n-head="ssr" data-hid="twitter:card" property="twitter:card" content="summary_large_image">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@shukan_today" />

    <link rel="canonical" href="https://shukan.today/">
    <meta name="msapplication-TileColor" content="#000000">
    <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://shukan.today/",
        "logo": "https://shukan.today/common/img/logo.svg"
            },
            {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
          {
            "@type": "ListItem",
            "position": 1,
            "item":
            {
              "@id": "https://shukan.today/",
              "name": "シュウカン"
            }
          }
        ]
      }
    ]
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXCRHHC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 
    <div class="g-wrapper">
      <header class="g-siteHerder">
      <h1 class="g-siteHeader_logo">
        <%= image_tag'g-site-logo.svg', alt: "シュウカン" %>
      </h1>
      </header>
      <%= yield %>
      <footer class="g-footer">
        <div class="footer_inner">
          <small class="c-copyright">&copy;shukan</small>
        </div>
      </footer>
    </div>
  </body>
</html>
